<footer class="footer">
  <div class="footer_container grid grid--footer">
    <div class="copyright-div">
      <p class="copyright">
        Copyright &copy;
        <span class="year"><%= new Date().getFullYear() %></span> by Booksaw.co,
        Inc. All rights reserved.
      </p>
    </div>

    <div class="logo-col">
      <a href="#" class="footer-logo">
        <img class="logo" src="/images/main-logo.png" alt="logo" />
      </a>

      <ul class="social-links">
        <li>
          <a class="footer-link" href="#"
            ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
          ></a>
        </li>
        <li>
          <a class="footer-link" href="#"
            ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
          ></a>
        </li>
        <li>
          <a class="footer-link" href="#"
            ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
          ></a>
        </li>
      </ul>
    </div>

    <nav class="nav-col">
      <ul class="footer-nav">
        <li><a class="footer-link" href="/reg">Create Account</a></li>
        <li><a class="footer-link" href="#">Feedback</a></li>
        <li><a class="footer-link" href="#">About</a></li>
      </ul>
    </nav>
  </div>
</footer>
